[server]
host = irc.foonetic.net
port = 6667
realname = Maintained by zigdon
username = zigdon
nick = TestCat

[nickserv]
password = pass

[modules]
kitnirc.contrib.admintools = 0
kitnirc.contrib.foonetic = 1
eve.apikeys = 2

[admins]
zigdon!zigdon@2600:3c01::f03c:91ff:fedf:a2c9 = 1
zigdon!zigdon@carabiner.peeron.com = 1
zigdon!zigdon@netadmin.foonetic.net = 1
lizthegrey!~elizabeth@veldt.leptoquark.net = 1

[database]
path = /home/zigdon/lib/code/eve/corpcat/corpcat2.sqlite3
