[server]
host = irc.foonetic.net
port = 6667
realname = Maintained by zigdon
username = zigdon
nick = TestCat

[nickserv]
password = pass

[modules]
kitnirc.contrib.foonetic = 1
eve.apikeys = 2

[admin]
zigdon!zigdon@2600:3c01::f03c:91ff:fedf:a2c9 = 1
zigdon!zigdon@carabiner.peeron.com = 1
zigdon!zigdon@netadmin.foonetic.net = 1
lizthegrey!~elizabeth@veldt.leptoquark.net = 1
